/* ===== Utilidades del Archivo ===== */
/* === Solo para resoluciones 1920x1080 ===*/
.container {
    height: 100vh;
    width: 100vw;
    display: flex;
}

.block {
    min-height: 100px;
    max-height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sticky_top {
    background-color: rgba(var(--color-fondo-1), 0.957);
    border-bottom: 1px solid #1b2b47;
    position: sticky;
    z-index: 1000;
    top: 0;
}

.logo_container {
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    height: 100%;
    width: auto;
    object-fit: contain;
}

.center_text {
    text-align: center;
}

.white_text {
    color: white;
    font-size: 1.25vw;
    font-weight: bold;
    display: inline-block;
}

.black_text {
    color: #212121;
    font-size: 2vw;
    font-weight: bold;
    display: inline-block;
}

/* ===== Utilidades del Archivo ===== */
/* === Sección Izquierda ===*/
.user_container {
    width: 100%;
    background-color: rgb(var(--color-fondo-1));
    display: flex;
    align-items: start;
    flex-direction: column;
    gap: 1rem;
}

.user_data {
    width: 50%;
    margin: 0 50px;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    box-shadow: 0 0 12px 3px #1b2b47;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 0.8rem;
}

.user_icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 0.09em solid white;
    object-fit: cover;
}

.user_name {
    font-weight: bold;
    font-size: 1rem;
    color: white;
}


/* ===== Comunidades ===== */
.comunidades_container {
    position: relative;
}

.comunidades_block {
    height: 5%;
    width: 100%;
    padding: 8px 0;
    background-color: transparent;
    transition: background-color 0.4s ease, transform 0.3s ease;
}

.comunidades_fijo {
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: rgb(var(--color-fondo-1));
}

/* ===== Crear Publicaciones ===== */
/* El formulario en sí */
.formContainer {
    background: #fff;
    padding: 25px;
    width: 380px;
    border-radius: 12px;

    display: flex;
    flex-direction: column;
    gap: 15px;

    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);
    animation: aparecer 0.25s ease-out forwards;
}

/* Inputs y textarea */
.formContainer textarea,
.formContainer input[type="file"] {
    width: 100%;
    padding: 8px;
    font-size: 15px;
    border-radius: 6px;
    border: 1px solid #ccc;
}

/* Contenedor de botones */
.botonesForm {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

/* Botones */
.botonesForm button {
    padding: 10px 18px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    font-weight: bold;
    transition: 0.2s;
}

/* Botón crear */
.botonesForm button:first-child {
    background: #007bff;
    color: white;
}

.botonesForm button:first-child:hover {
    background: #0069d9;
}

/* Botón cancelar */
.botonesForm button:last-child {
    color: white;
    background: #333;
}

/* Animación suave */
@keyframes aparecer {
    from {
        opacity: 0;
        transform: translateY(-10px) scale(0.97);
    }

    to {
        opacity: 1;
        transform: translateY(0) scale(1);
    }
}

/* ===== Generales del Archivo ===== */
/* === Solo para resoluciones 1920x1080 ===*/
:global(body.pc) body {
    background-color: rgb(var(--color-fondo-1));
}

:global(body.pc) ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    overflow-y: auto;
    flex: 1;
    scroll-behavior: smooth;
    scrollbar-width: none;
}

:global(body.pc) section {
    background-color: rgb(var(--color-fondo-1));
    display: inline-block;
    height: 100vh;
    width: 50vw;
    overflow: scroll;
    scroll-behavior: smooth;
    scrollbar-width: none;
}

:global(body.pc) section:first-child {
    width: 25vw;
    border-right: 2px solid #1b2b47;
    position: relative;
    display: flex;
    flex-direction: column;
}

:global(body.pc) section:first-child>div:last-of-type {
    margin-top: auto;
    padding-bottom: 1.7em;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

:global(body.pc) section:last-child {
    width: 25vw;
    border-left: 2px solid #1b2b47;
}