.feedContainer {
  display: flex;
  flex-direction: column;
  background-color: #f2f2f2;
  min-height: 100vh;
  font-family: Arial, sans-serif;
}

/* Contenedor principal de posts */
.postsContainer {
  flex: 1;
  padding: 10px;
  margin-bottom: 60px; /* espacio para barra inferior */
}

/* Barra inferior */
.bottomBar {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #e3f2fd;
  display: flex;
  justify-content: space-around;
  padding: 10px 0;
  border-top: 1px solid #ccc;
}

/* Botones inferiores */
.bottomBar button {
  border: none;
  background: #bbdefb;
  border-radius: 10px;
  padding: 10px 20px;
  font-size: 16px;
  transition: 0.2s;
}

.bottomBar button:hover {
  background-color: #90caf9;
  cursor: pointer;
}

.alertBtn {
  background: linear-gradient(135deg, #42a5f5, #1e88e5);
  color: white;
  font-weight: bold;
}
