
@import './colores.css';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.main_hover:hover {
    background-color: #1b2b47;
    transform: scale(1.05);
    cursor: pointer;
}

.text_comunidades {
  margin: 0;
  padding: 0 50px;
  color: white;
  font-weight: bold;
  font-size: large;
}