/* ===== Utilidades del Archivo ===== */
/* === Pensado para todas las resoluciones ===*/
/* ===== Idealmente ===== */
.post {
    height: auto;
    width: 100%;
    max-width: 500px;
    margin: 5vh auto;
    border-radius: 1rem;
    box-shadow: 0 0 12px 3px #1b2b47;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.header {
    margin-top: 1em;
    margin-left: 1em;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.user {
    font-weight: bold;
    font-size: 1rem;
    color: white;
}

.user_icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 0.09em solid white;
    object-fit: cover;
}

.text {
    font-weight: bold;
    font-size: 1.10rem;
    color: white;
    margin: 0;
    margin-left: 1em;
    padding: 0;
}

.image_Container {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-top-left-radius: 0.25em;
    border-top-right-radius: 0.25em;
}

.image {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.comments {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr;
    grid-auto-rows: 0;
    overflow: hidden;
    align-items: center;
}

.iconSlot {
    grid-column: 5 / 6;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 8px;
}

.comment_icon {
    height: 40px;
    width: auto;
    color: white;
}

/* ===== Generales del Archivo ===== */
/* === Pensado para todas las resoluciones ===*/
/* ===== Idealmente ===== */
:global(body.pc) li {
    list-style: none;
}