/* ===== Utilidades del Archivo ===== */
/* === Pensado para todas las resoluciones ===*/
/* ===== Idealmente ===== */
.block {
    height: 5%;
    width: 100%;
    padding: 10px 0;
    padding-left: 15px;
    background-color: transparent;
    transition: background-color 0.4s ease, transform 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-bottom: 1px solid #212121;
}

.block:hover {
    background-color: #E0E0E0;
    transform: scale(1.02);
    cursor: pointer;
}

.icon {
    height: 2rem;
    width: 1.5rem;
    object-fit: contain;
}

.center_text {
    text-align: center;
}

.text {
    margin: 0;
    margin-left: 5px;
    padding: 0;
}

.white_text {
    color: white;
    font-size: 1.25vw;
    font-weight: bold;
}

.black_text {
    color: #212121;
    font-size: 1.25vw;
    font-weight: bold;
}