
/* ===== Utilidades del Archivo ===== */
/* === Solo para resoluciones 1920x1080 ===*/
.container {
    height: 100vh;
    width: 100vw;
    display: flex;
}

.block {
    height: 10%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2vh;
}

.logo_container {
    height: 108px;
    width: 100%;
    display: flex;
}

.logo {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.center_text {
    text-align: center;
}

.white_text {
    color: white;
    font-size: 1.25vw;
    font-weight: bold;
    border-bottom: 2px solid white;
    display: inline-block;
}

.black_text {
    color: black;
    font-size: x-large;
    font-weight: bold;
    border-bottom: 2px solid black;
    display: inline-block;
}


/* ===== Generales del Archivo ===== */
/* === Solo para resoluciones 1920x1080 ===*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

section {
    background-color: rgba(238, 70, 154, 0.678);
    display: inline-block;
    height: 100vh;
    width: 50vw;
    overflow: scroll;
    scroll-behavior: smooth;
    scrollbar-width: none;
}

section:first-child {
    background-color: rgb(230, 171, 200);
    width: 25vw;
    border-right: 2px solid rgb(165, 17, 91);
}

section:last-child {
    background-color: rgba(238, 70, 154, 0.678);
    width: 25vw;
    border-left: 2px solid rgb(165, 17, 91);
}