
/* ===== Utilidades del Archivo ===== */
/* === Solo para resoluciones 1920x1080 ===*/
.container {
    height: 100vh;
    width: 100vw;
    display: flex;
}

.block {
    height: 10%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sticky_top {
    background-color: rgba(255, 255, 255, 0.95);
    border-bottom: 1px solid #212121;
    overflow-y: auto;
    position: sticky;
    z-index: 1000;
    top: 0;
}

.logo_container {
    height: 78px;
    width: 100%;
    display: flex;
}

.logo {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.center_text {
    text-align: center;
}

.white_text {
    color: white;
    font-size: 1.25vw;
    font-weight: bold;
    display: inline-block;
}

.black_text {
    color: #212121;
    font-size: 2vw;
    font-weight: bold;
    display: inline-block;
}

/* ===== Generales del Archivo ===== */
/* === Solo para resoluciones 1920x1080 ===*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

section {
    background-color: #ffffff;
    display: inline-block;
    height: 100vh;
    width: 50vw;
    overflow: scroll;
    scroll-behavior: smooth;
    scrollbar-width: none;
}

section:first-child {
    width: 25vw;
    border-right: 2px solid #9E9E9E;
}

section:last-child {
    width: 25vw;
    border-left: 2px solid #9E9E9E;
}