
/* ===== Utilidades del Archivo ===== */
/* === Pensado para todas las resoluciones ===*/
/* ===== Idealmente ===== */
.container {
    min-height: 40px;
    width: 100%;
    position: relative;
}

.block {
    height: 5%;
    width: 100%;
    padding: 8px 0;
    background-color: transparent;
    transition: background-color 0.4s ease, transform 0.3s ease;
}

.fijo {
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: var(--color-fondo);
}

.center_text {
    text-align: center;
}

.text {
    margin: 0;
    padding: 0;
}

.white_text {
    color: white;
    font-size: 1.25vw;
    font-weight: bold;
}

.black_text {
    color: #212121;
    font-size: 1.25vw;
    font-weight: bold;
}

