
/* ===== Utilidades del Archivo ===== */
/* === Pensado para todas las resoluciones ===*/
/* ===== Idealmente ===== */
.container {
    height: 5%;
    width: 100%;
}

.block {
    height: 5%;
    width: 100%;
    padding: 8px 0;
    background-color: transparent;
    transition: background-color 0.4s ease, transform 0.3s ease;
    border-bottom: 1px solid #212121;
}

.block:hover {
    background-color: #E0E0E0;
    transform: scale(1.02);
    cursor: pointer;
}

.center_text {
    text-align: center;
}

.text {
    margin: 0;
    margin-left: 20px;
    padding: 0;
}

.white_text {
    color: white;
    font-size: 1.25vw;
    font-weight: bold;
}

.black_text {
    color: #212121;
    font-size: 1.25vw;
    font-weight: bold;
}

