/* ===== Publicaciones ====== */
/* Fondo oscuro que cubre toda la pantalla */
.formOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;

    background: rgba(0, 0, 0, 0.65);
    backdrop-filter: blur(2px);

    display: flex;
    justify-content: center;
    align-items: center;

    z-index: 9999;
}